fastapi
uvicorn[standard]
pydantic
python-multipart

transformers
accelerate
sentencepiece

langchain
langchain-community

torch
torchvision
torchaudio
sentence-transformers

huggingface-hub

python-dotenv
aiofiles

bitsandbytes
hf_xet